/* App.css */
body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: #788f84;
  display: flex;
  width: 874.793px;
  height: 156px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 48;
  font-family: Inter;
  font-weight: 300;
  line-Height: 42;
  word-Wrap: 'break-word'
}

.user-input-box {
  width: 797.538px;
  height: 133px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #EBEBEB;
  padding: 10px;  /* optional, adjust as needed */
  border: none;  /* optional, adjust as needed */
  resize: none;  /* optional, to disable resizing of the textarea */
}
